*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 150px;
    background-color: #000000;
    color:#F2F2F2 ;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
width: 75%;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
color: #F2F2F2;
gap: 60px;
}

a{
    text-decoration: none;
    color: #F2F2F2;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 15px;
}

a:hover{
    background-color: azure;
    color: #BF0404;
    transition: 0.5s;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: #000000;
}

.box1{
    background-color: #730202;
    height: 250px;
    width: 50%;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
}

.box2{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.box3{
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: #400101;
    flex-direction: column;
    img{
        height: 160px;
        display: flex;
    }
}

img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: monospace;
}
p:hover{
    background-color: azure;
    color: #BF0404;
    transition: 0.5s;
}


footer{
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #730202;
    color: #F2F2F2;
}

@media(max-width:700px){
    .box1, .box2, .box3, header, footer, section, nav, p, img, .logo{
        width: 100%;
    }
    header, header nav{
        flex-direction: column;
        height: auto;
    }
}